}* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

body {
  color: #84bf03;
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('./images/ac_background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  /* higher z-index brings the element to the front while a
   lower z-index pushes it to the back.*/
  }
  
  header h1 {
    font-weight:;
    margin: 0;
    font-size: 36px;
    color: #427e30  ;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: #000;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    color: #84bf03  ;
  }
  
  
  /* HEADER / NAVBAR STYLES END */
  
/* HERO STYLES START */
.hero {
    background-image: url('./images/ac_background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

  .welcome {
    width: 35%;
    text-align: rightleft;
    margin: 3.5%;
    color: #000;
    font-size: 18px;
    line-height: 1.2;
  }

  .welcome h2 {
    font-size: 70px;
    letter-spacing: 20px;
    color: #84bf03;

  }
  .welcome p {
    font-size: 33px;
    letter-spacing: 15px;
    padding-bottom: 50px;
  }
  
  .andi-image { 
  padding: 0px;
  width: 40%;
  margin: 1%;
 
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:#84bf03;
  }
  
  .button1 {
    background-color:#84bf03;
    color: white;
  }
  
  .button:hover {
    background-color: white;
    color: black;
    border: 2px solid #84bf03;
  }