body {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 2.5;
}

h1 {
    font-size: 70px;
    color:#84bf03;
    text-align: left;
    letter-spacing: 10px;
}

h2 {
    font-size: 50px;
    letter-spacing: 10px;
    color: #000;    
}  

h4 a {
    color:#84bf03;
}

/* HEADER / NAV BAR STYLES START */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('./images/ac_background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
  
header a {
    text-decoration: none;
    color: #000;
  }
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color:black;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color:black;
}
  
header nav ul li a:hover {
    color: #84bf03  ;
}

a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
  
  
/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
    background: #84bf03;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
/* END FOOTER STYLES */
  

/* HERO STYLES START */
.hero {
    background-image: url('./images/ac_background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.welcome {
    width: 35%;
    text-align: rightleft;
    margin: 3.5%;
    color: #7a05c9;
    font-size: 18pt;
    line-height: 1.2;
}

.welcome p {
    font-size:24pt;
    letter-spacing: 15px;
    padding-bottom: 50px;
    color: #000
}
  
.andi-image { 
  padding: 0px;
  width: 40%;
  margin: 1%;
 
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    letter-spacing: 2pt;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 3px solid #84bf03;
}
  
  .button:hover {
    border: none;
    color: black;
    background-color:#e8f1b4;
}
/* HERO END */
  

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 48pt;
    color:#000;
    padding-bottom: 0px;
    text-align:right;
    margin: 100px auto 35px auto;
    width: 25%;
}
/* section title END */
  
/* ABOUT STARTS */
.andi {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-right {
    width: 55%;
    margin: 10%;
}

.content-right a{
    color:#84bf03
}

/* ABOUT end

/* PORTFOLIO STARTS */
.portfolio-wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio {
    width: 65%;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}
  
.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: auto;
}
  
.desc {
    padding: 15px;
    text-align: center;
}
/* Portfolio end

/* Contact Start*/
.contact-wrap {
    background-image:url("./images/ac_background.jpg");
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.my-info {
    width: 55%;
    margin: 10% 10% 10% 2%;
    font-style: none;
}

.my-info a {
    color: #84bf03
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position:relative;
      position: -webkit-sticky;
      position: sticky;
    }
  
    header img {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
  
    .welcome, .andi-image {
      width: 100%;
    }
    
    .welcome {
      text-align: center;
    }

    h1{
        text-align: center;
    }

    .andi-image {
        text-align: center;
        width:100%;
    }
  
    .section-title {
      width: 100%;
      text-align: center;
    }

    .content-right {
        text-align: center;
    }
    
    .gallery {
    width: 100%;
      flex: 0 70%;
    }
    
    .my-info{
      flex: 100%;
      text-align: center;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position:relative;
      position: -webkit-sticky;
      position: sticky;
    }
    
    section {
      padding: 30px 15px;
    }
  
    .section-title  {
      flex: 1 100%;
      text-align: center;
    }
  
    .content-right {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .gallery {
        width: 100%;
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  }
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position:relative;
    position: -webkit-sticky;
    position: sticky;
  }
    h1 {
        width: 100%;
        text-align: center;
      }
    
    .andi-image {
        width: 100%;
        text-align: center;
      }
  
    .section-title {
      width: 100%;
    }
  
    .content-right {
      width: 100%;
    }
  
    .gallery {
        width: 100%;
      flex: 0 100%;
    }
  
    .my-info {
      text-align: center;
    }
  
    .my-info > * {
      flex: 0 100%;
    }
}